@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body{
  background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  
  background: linear-gradient(to right, #F8FFAE, #43C6AC); 
  font-family: "Kumbh Sans", sans-serif;
}

h1,p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 120px;
  margin-top: 6rem;
}

button {
  font-size: 1.5rem; 
  background-color: burlywood;
  border-radius: 10px;
  padding: 1rem;
}

button:hover{
  background-color: rgb(221, 157, 136);
  transition-delay: 200ms;
}
